$dark: #121212;
$white:#fff;
$primary:#C70D00;
$secondary:#1A4C60;
$red1:#880900;
$red2:#DB0F01;
$blue1:#0B69E3;
$blue4:#589FFC;
$gray1:#242B30;
$gray2:#A3AFB7;
$gray3:#C1C4C7;
$gray4:#CCD5DB;
$gray5:#E4EAEC;
$gray6:#E4EAEC;
$gray7:#F6F6F6;
$gray8:#EEEEEE;
$gray9:#F3F3F3;
$danger:#a90520;
$success:#00AA63;
$warning:#ffc107;
